extends layout

block content
  script.
    var map = {tile:new Array(),
               width:#{game.maps[0].width}};

  #overworld
    each tile, i in game.maps[0].tiles
      - var x = (i%game.maps[0].width)*16;
      - var y = Math.floor(i/game.maps[0].width)*16;
      - var s = 'left:' + x + 'px;top:' + y + 'px;background-position:' + tile.spriteIndex;
      img.mapTile(style=s)
      if tile.encounter
        script.
          var tileObj = {terrain:#{tile.terrain},
                         enchanted:#{tile.enchanted},
                         paths:#{tile.paths},
                         encounter:'#{tile.encounter}'
                         };
      else
        script.
          var tileObj = {terrain:#{tile.terrain},
                         enchanted:#{tile.enchanted},
                         paths:#{tile.paths}
                         };

  formUrl = '/user/' + accountId + '/game/' + game._id + '/placecharacters'
  form( action=formUrl, method="POST")
    fieldset.textOverlay
      label(for="startlocation") Choose starting location
      select(name="startlocation", id="startlocation")
        - var resultArr = new Array();
        each character in game.characters
          each home in character.homes
            - if( resultArr.indexOf(home) == -1)
              option(value=home) #{home}
            - resultArr.push(home);
      button Go

  script.
    $(document).ready( function() {
    });